pygame*/AndroidManifest.xml
pygame*/assets
pygame*/bin
pygame*/build.xml
pygame*/gen
pygame*/local.properties
pygame*/proguard.cfg
pygame*/project.properties
pygame*/res/drawable/*
pygame*/res/values/strings.xml
pygame-package-0.9.3/res/values/strings.xml
